@model IEnumerable<Lequ.Model.Models.Blog>
@{
    string[] styles = { "post-category text-white bg-secondary mb-3", "post-category text-white bg-success mb-3", "post-category text-white bg-warning mb-3" };
}

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h2>Recent Posts</h2>
            </div>
        </div>
        <div class="row">
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 mb-4">
                        <div class="entry2">
                            <a href="single.html"><img src="@item.Image" alt="Image" class="img-fluid rounded"></a>
                            <div class="excerpt">
                                @if (item.BlogCategories != null)
                                {
                                    @foreach (var category in item.BlogCategories)
                                    {
                                        <span class="@((styles[new Random().Next(3)]))">
                                            <a href="#"><i class="fas fa-eye"></i> @category?.Category?.Name</a>
                                        </span>
                                    }
                                }

                                <h2><a href="single.html">@item.Title</a></h2>
                                <div class="post-meta align-items-center text-left clearfix">
                                    <figure class="author-figure mb-0 mr-3 float-left"><img src="~/Front/images/person_1.jpg" alt="Image" class="img-fluid"></figure>
                                    <span class="d-inline-block mt-1"><a href="#">@item.CreateBy</a></span>
                                    <span>&nbsp;-&nbsp; @(((DateTime)(item.CreateDate??DateTime.Now)).ToString("yyyy-MM-dd HH:mm:ss"))</span>
                                </div>

                                <p>@((item?.Content?.Length < 100 ? item?.Content : item?.Content?.Substring(0, 100)))...</p>
                                <p><a href="#">Read More</a></p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="row text-center pt-5 border-top">
            <div class="col-md-12">
                <div class="custom-pagination">
                    <span>1</span>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <span>...</span>
                    <a href="#">15</a>
                </div>
            </div>
        </div>
    </div>
</div>