@model Lequ.Blog.Model.Models.UserInfo
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<script src="https://unpkg.com/sweetalert@2.1.2/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Register Now</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                @using (Html.BeginForm("Index", "Register", FormMethod.Post))
                {
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Name</label>
                            @Html.TextBoxFor(x=>x.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x=>x.Name, "", new { @class = "field-validation-error text-danger" })
                            @*<input type="text" class="form-control" id="validationDefault01" name="Name" placeholder="" required="">*@
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Email Address</label>
                            @Html.TextBoxFor(x=>x.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x=>x.Email, "", new { @class = "field-validation-error text-danger" })
                            @*<input type="email" class="form-control" id="validationDefault02" name="Email" placeholder="" required="">*@
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1 mb-2">Password</label>
                            @Html.TextBoxFor(x=>x.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x=>x.Password, "", new { @class = "field-validation-error text-danger" })
                            @*<input type="password" class="form-control" id="password1" name="Password" placeholder="" required="">*@
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword2 mb-2">Image</label>
                            @Html.TextBoxFor(x=>x.Image, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x=>x.Image, "", new { @class = "field-validation-error text-danger" })
                            @*<input type="text" class="form-control" id="password2" name="Image" placeholder="" required="">*@
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">Register</button>
                    <p>
                        <a href="#" id="btn1">By clicking Signup, I agree to your terms</a>
                    </p>
                }

            </div>
        </div>
    </div>
    <script>
        $("#btn1").click(function(){
            swal("help title", "hello world!");
        })
    </script>
</section>