@using Lequ.Model.ViewModels
@using Lequ.Model.ViewModels.Comments
@model PagingViewModelBase<CommentDto>
@{
    ViewData["Title"] = "AdminCommentList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-9">
    <div class="card">
        <div class="card-header p-2">
        <ul class="nav nav-pills">
        </ul>
        </div>
        <div class="card-body">
        <div class="tab-content">
            <div class="active tab-pane" id="activity">
                        @if (Model != null && Model.Datas != null)
                        {
                            @foreach (var item in Model.Datas)
                            {
                                <div class="post">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" src="@item.CreateUser?.Image" alt="user image">
                                        <span class="username">
                                            <a href="#">@item.CreateUser?.Name - @item.Blog?.Title</a>
                                            <a href="/Comment/Delete?blogID=@item.BlogID&id=@item.ID" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                                        </span>
                                        <span class="description">@(((DateTime)(item.CreateDate??DateTime.Now)).ToString("yyyy-MM-dd HH:mm:ss"))</span>
                                    </div>
                                    <p>@item.Content</p>

                                    <p>
                                        <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>
                                        <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>
                                        <span class="float-right">
                                            <a href="#" class="link-black text-sm">
                                                <i class="far fa-comments mr-1"></i> Comments (5)
                                            </a>
                                        </span>
                                    </p>

                                    <input class="form-control form-control-sm" type="text" placeholder="Type a comment">
                                </div>
                            }
                        }
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

@if (Model != null && Model.PageCount > 1)
{
    <div class="card-footer">
        <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0">
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                    <li class='@(Model.PageIndex == i ? "page-item active" : "page-item")'><a class="page-link" href="/Comment/AdminCommentList?status=@Model.Status&page=@i">@i</a></li>
            }
            </ul>
        </nav>
    </div>
}
