@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = _localizer["Title"];
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<h2> @_localizer["Title"]</h2>

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mb-5">


                <form action="/Contact/SendMessage" method="post" class="p-5 bg-white">


                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="fname">@_localizer["Name"]</label>
                            <input type="text" id="fname" name="Name" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">

                        <div class="col-md-12">
                            <label class="text-black" for="email">Email</label>
                            <input type="email" id="email" name="Email" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">

                        <div class="col-md-12">
                            <label class="text-black" for="subject">@_localizer["Subject"]</label>
                            <input type="subject" id="subject" name="Subject" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="message">@_localizer["Message"]</label>
                            <textarea name="message" id="message" onabort="Message" cols="30" rows="7" class="form-control" placeholder='@_localizer["MessagePlaceholder"]'></textarea>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value='@_localizer["Send"]' class="btn btn-primary py-2 px-4 text-white">
                        </div>
                    </div>


                </form>
            </div>
            <div class="col-md-5">

                <div class="p-4 mb-3 bg-white">
                    <p class="mb-0 font-weight-bold">Email</p>
                    <p class="mb-0">
                        <a href="https://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=632871194@qq.com">632871194@qq.com</a>
                    </p>

                </div>

            </div>
        </div>
    </div>
</div>