@using Lequ.Models
@using Lequ.ViewModels
@model PagingViewModelBase<Category>
@{
    ViewData["Title"] = "AdminCategoryList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script type="text/javascript">
    function edit_category(id,name,desc) {
        alert(id+"_"+name+"_"+desc);
    }
</script>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Category</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th style="width: 1%">
                        ID
                    </th>
                    <th style="width: 15%">
                        Name
                    </th>
                    <th style="width: 20%">
                        Description
                    </th>
                    <th>
                        Create Date
                    </th>
                    <th style="width: 8%" class="text-center">
                        Update Date
                    </th>
                    <th style="width: 20%">
                    </th>
                </tr>
            </thead>
            <tbody>

                @if (Model != null && Model.Datas != null)
                {
                    @foreach (var item in Model.Datas)
                    {
                        <tr>
                            <td>
                                @item.ID
                            </td>
                            <th>
                                <a>
                                    @item.Name
                                </a>
                                <br />
                                <small>
                                    Created @item.CreateDateString
                                </small>
                            </th>
                            <td>
                                @item.Description
                            </td>
                            <td>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <img alt="Avatar" class="table-avatar" src="~/Admin/dist/img/avatar.png">
                                    </li>
                                    <li class="list-inline-item">
                                        <img alt="Avatar" class="table-avatar" src="~/Admin/dist/img/avatar2.png">
                                    </li>
                                    <li class="list-inline-item">
                                        <img alt="Avatar" class="table-avatar" src="~/Admin/dist/img/avatar3.png">
                                    </li>
                                    <li class="list-inline-item">
                                        <img alt="Avatar" class="table-avatar" src="~/Admin/dist/img/avatar04.png">
                                    </li>
                                </ul>
                            </td>
                            <td class="project_progress">
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-green" role="progressbar" aria-volumenow="57" aria-volumemin="0" aria-volumemax="100" style="width: 57%">
                                    </div>
                                </div>
                                <small>
                                    57% Complete
                                </small>
                            </td>
                            <td class="project-state">
                                <span class="badge badge-success">Success</span>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="#">
                                    <i class="fas fa-folder">
                                    </i>
                                    View
                                </a>
                                <button class="btn btn-info btn-sm" onclick='edit_category(@item.ID, "@item.Name", "@item.Description")' data-toggle="modal" data-target="#Modal1">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </button>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@if (Model != null && Model.PageCount > 1)
{
    <div class="card-footer">
        <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0">
                @for (var i = 1; i <= Model.PageCount; i++)
                {
                    <li class='@(Model.PageIndex == i ? "page-item active" : "page-item")'>
                        <a class="page-link" href="/Category/AdminCategoryList?page=@i">@i</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
}

<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Popup</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Add</h2>
            </div>
            <form method="post" action="/Category/Add">
                <div class="modal-body">
                    <input type="hidden" id="categoryID"/>
                    <label>Name</label>
                    <input type="text" id="categoryName" name="Name" class="form-control"/>
                    <br />
                    <label>Description</label>
                    <textarea type="text" id="categoryDescription" name="Description" class="form-control"/>
                    <br />
                    <button class="btn btn-info">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>