@model BlogCommentDto

<div class="comment-form-wrap pt-5">
    <h3 class="mb-5">Leave a comment</h3>
    <form method="post" action="/Comment/Leave" class="p-5 bg-light">
        <input type="hidden" name="BlogID" value="@Model?.BlogID"/>
        <input type="hidden" id="parentid" name="ParentID"/>
        <div class="form-group">
            <label id="messagetip" for="message">Message</label>
            <a href="#message" id="remove_reply" onclick="remove_replay_parent()" class="reply rounded"></a>
            <textarea name="Content" id="message" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Post Comment" class="btn btn-primary">
        </div>
    </form>
</div>

<div class="pt-5">
    <h3 class="mb-5">@Model?.Comments?.Count Comments</h3>
    <ul class="comment-list">

        @if (Model != null && Model.Comments != null)
        {
            @foreach (var item in Model.Comments)
            {
                <li class="comment">
                    <div class="vcard">
                        <img src="@item.CreateUser?.Image" alt="Image placeholder">
                    </div>
                    <div class="comment-body">
                        <span>Floor @item.Floor @item.CreateUser?.Name</span>
                        <span class="meta">&nbsp;-&nbsp; @item.CreateDate</span>


                        @if (item.Parent != null)
                        {
                            <ul class="children bg-light">
                                <li class="comment">
                                <div class="vcard">
                                    <img src="@item.Parent.CreateUser?.Image" alt="Image placeholder">
                                </div>
                                <div class="comment-body">
                                    <span>Floor @item.Parent.Floor：@item.Parent.CreateUser?.Name</span>
                                    <span class="meta">&nbsp;-&nbsp; @item.Parent.CreateDate</span>
                                    <p>@item.Parent?.Content</p>
                                    <p>
                                        <a href="#message" onclick='reply(@item.Parent.ID, "@item.Parent.CreateUser?.Name")' class="reply rounded">Reply</a>
                                    </p>
                                </div>
                                <li>
                            </ul>
                        }

                        <p>@item.Content</p>
                        <p>
                            <a href="#message" onclick='reply(@item.ID, "@item.CreateUser?.Name")' class="reply rounded">Reply</a>
                        </p>
                    </div>
                </li>
            }
        }
    </ul>
</div>
<script type="text/javascript">
    function reply(commentid, username) {
        $('#messagetip').html('Reply for ' + username);
        $('#parentid').val(commentid);
        $('#remove_reply').html('X');
        $('#remove_reply').show();
    }

    function remove_replay_parent() {
        $('#messagetip').html('Message');
        $('#parentid').val('');
        $('#remove_reply').hide();
    }
</script>