@using Microsoft.AspNetCore.Mvc.Rendering
@using Lequ.Blog.Model.ViewModels
@model BlogDto
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<script src="~/bootstrap-markdown/js/bootstrap-markdown.min.js"></script>
<link href="~/bootstrap-markdown/css/bootstrap-markdown.min.css" />

<h1>Add</h1>
<br />
@using (Html.BeginForm("Add", "Blog", FormMethod.Post))
{
    @Html.Label("Title")
    @Html.TextBoxFor(x=>x.Title, new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Title, "", new { @class = "field-validation-error text-danger" })
    <br />

    @Html.Label("Image")
    @Html.TextBoxFor(x=>x.Image, new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Image, "", new { @class = "field-validation-error text-danger" })
    <br />

    @Html.Label("ThumbnailImage")
    @Html.TextBoxFor(x=>x.ThumbnailImage, new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.ThumbnailImage, "", new { @class = "field-validation-error text-danger" })
    <br />

    @Html.Label("Categories")
    @Html.DropDownListFor(x => x.Categories, (List<SelectListItem>)ViewBag.categories, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.Categories, "", new { @class = "field-validation-error text-danger" })
    <br />

    @Html.Label("Content")
    @Html.TextAreaFor(x=>x.Content, 15, 3, new { @class="form-control"})
    @Html.ValidationMessageFor(x=>x.Content, "", new { @class = "field-validation-error text-danger" })
    <br />

    <button class="btn btn-info">Save</button>
}

<script>
    var markDownObj = $("#editor").markDownObj({
        autofocus:true,
        savable:false
    })
</script>