@model List<Blog>

@if (Model != null)
{
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-3">
            <div class="card entry2">
                <a href="/Blog/Details?id=@item.ID" target='_blank'>
                    <div id="mycarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="@item.Cover" alt="Image" class="img-fluid rounded">
                                <div class="carousel-caption">
                                    @if (item.BlogCategories != null)
                                    {
                                        <ul class="float-left" style="list-style-type:none;">
                                            @foreach (var category in item.BlogCategories)
                                            {
                                                <li>
                                                    <a href="/Blog/ListByCategory?categoryID=@category?.Category?.ID" target='_blank' style="background-color:rgba(0,0,0,0.5);color:white;">
                                                        @category?.Category?.Name
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="post-meta align-items-center text-left clearfix">
                    <span class="d-inline-block mt-0">
                        <a href="/Blog/Details?id=@item.ID" target='_blank'>@item.Title</a>
                    </span>
                </div>
                <div class="card-footer pb-0 mb-0">
                    @if (item.BlogCopyrightTypeEnum == CopyrightType.Default)
                    {
                        <figure class="author-figure mb-0 mr-1 float-left">
                            <img src="@item.CreateUser?.Image" alt="Image" class="img-fluid img-thumbnail" width="32">
                        </figure>
                        <span class="d-inline-block mt-0">
                            <a href="#">@item.CreateUser?.Name</a>
                        </span>
                    }
                    else
                    {
                        <figure class="author-figure mb-0 mr-1 float-left">
                            <img src="@item.OriginalAvatar" alt="Image" class="img-fluid img-thumbnail" width="32">
                        </figure>
                        <span class="d-inline-block mt-0">
                            <a href="@item.OriginalLink" target='_blank'>@item.Original</a>
                        </span>
                    }
                    <span>@item.CreateDate?.ToShortDateString()</span>
                </div>
            </div>
        </div>
    }
}