@model List<Lequ.Models.Blog>

@if (Model != null)
{
    @foreach (var item in Model)
    {
        <div class="col-lg-4 mb-0">
            <div class="entry2">
                <a href="/Blog/Details?id=@item.ID" target='_blank'>
                    <div id="mycarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="@item.Cover" alt="Image" class="img-fluid rounded">
                                <div class="carousel-caption">
                                    @if (item.BlogCategories != null)
                                    {
                                        <ul class="class=" tags">
                                            @foreach (var category in item.BlogCategories)
                                            {
                                                <li>
                                                    <a href="/Blog/ListByCategory?categoryID=@category?.Category?.ID" target='_blank'>
                                                        @category?.Category?.Name
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="excerpt">

                    <div class="post-meta align-items-center text-left clearfix">
                        <span class="d-inline-block mt-1">
                            <a href="/Blog/Details?id=@item.ID" target='_blank'>@item.Title</a>
                        </span>
                    </div>
                    <div class="post-meta align-items-center text-left clearfix">
                        @if (item.BlogCopyrightTypeEnum == CopyrightType.Default)
                        {
                            <figure class="author-figure mb-0 mr-3 float-left">
                                <img src="@item.CreateUser?.Image" alt="Image" class="img-fluid img-thumbnail">
                            </figure>
                            <span class="d-inline-block mt-1">
                                <a href="#">@item.CreateUser?.Name</a>
                            </span>
                        }
                        else
                        {
                            <figure class="author-figure mb-0 mr-3 float-left">
                                <img src="~/author.jpg" alt="Image" class="img-fluid img-thumbnail">
                            </figure>
                            <span class="d-inline-block mt-1">
                                <a href="@item.OriginalLink" target='_blank'>@item.Original</a>
                            </span>
                        }
                    </div>
                    <p>
                        <span>@item.CreateDate</span>
                    </p>
                </div>
            </div>
        </div>
    }
}