@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@model LinkForCreationDto
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-group" method="post">
    <div class="form-group">
        @Localizer["Name"]
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        @Localizer["Url"]
        <input asp-for="Url" class="form-control"/>
        <span asp-validation-for="Url" class="text-danger"></span>
    </div>
    <div class="form-group">
        @Localizer["Description"]
        <textarea rows="4" cols="20" asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        @Localizer["Index"]
        <input asp-for="Index" class="form-control"/>
        <span asp-validation-for="Index" class="text-danger"></span>
    </div>
    <div class="form-group">
        @Localizer["Status"]
        <br/>
        @if (Model?.Statuses != null)
        {
            @foreach (var item in Model.Statuses)
            {
                <input type="radio" asp-for="StatusEnum" value="@((int)item)" checked="@(Model.StatusEnum == item)"/>
                @Localizer[item.ToString()]
            }
        }
        <span asp-validation-for="StatusEnum" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-info">@Localizer["Save"]</button>
</form>