@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@model FooterDto

<div class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <span class="footer-heading mb-4">@Localizer["Links"]</span>
                    @if (Model != null && Model.FriendLinks != null)
                    {
                        foreach (var item in Model.FriendLinks)
                        {
                            <a href="@item.Url" title="@item.Description" target="_blank">@item.Name</a>
                            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                        }
                    }
                </div>
                <div class="row">
                    <span class="footer-heading mb-4">@Localizer["Contact"]</span>
                    <a href="https://github.com/dotnet9" target="_blank">Github</a>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <a href="https://www.cnblogs.com/Dotnet9-com/" target="_blank">@Localizer["Cnblogs"]</a>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <a href="https://me.csdn.net/HenryMoore">CSDN</a>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <a href="https://www.zhihu.com/people/dotnet9/posts">@Localizer["Zhihu"]</a>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <a href="https://www.toutiao.com/c/user/98075192460/#mid=1651788205627396">@Localizer["Toutiao"]</a>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <a href="https://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=632871194@qq.com">E-mail</a>
                </div>
                <div class="row">
                    @Localizer["PoweredBy"]<span class="footer-heading mb-4">&nbsp;ASP.NET Core MVC 6.0&nbsp;</span>@Localizer["PowerfulDrive"]
                    @Localizer["SourceCodeOfSite"]<a href="https://github.com/dotnet9/lequ" target="_blank">Github</a>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    @Localizer["HostedOn"]&nbsp;<a href="https://www.aliyun.com/minisite/goods?userCode=5vad0ag3">@Localizer["AliCloud"]</a>&<a href="https://curl.qcloud.com/msyfhytx">@Localizer["TencentCloud"]</a>
                </div>
                <div class="row">
                    <script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1278208054'%3E%3C/span%3E%3Cscript src='https://v1.cnzz.com/z_stat.php%3Fid%3D1278208054%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
                </div>
            </div>
            <div class="col-md-2">
                @await Html.PartialAsync("~/Views/About/WeChatOfficialAccount.cshtml")
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                @Localizer["Copyright"] &copy; <script>document.write(new Date().getFullYear());</script> @Localizer["Webmaster"] @Localizer["AllRightsReserved"]
                <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                Powered&Developed by @Localizer["Webmaster"]
                <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <a href="https://beian.miit.gov.cn/">蜀ICP备19038256号-5</a>
            </div>
        </div>
    </div>
</div>